.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 90px 50px 0 50px;
}

@media (max-width: 750px) {
  .wrapper {
    flex-direction: column;
    gap: 50px;
  }
}

.dsc {
  max-width: 450px;
  font-family: "Noto Sans Lisu", sans-serif;
  font-size: 20px;
}

.portrait {
  border-radius: 100%;
  max-width: 300px;
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    rotate: 90deg;
    opacity: 0.01;
  }

  50% {
    rotate: -50deg;
  }

  100% {
    rotate: 0deg;
    opacity: 1;
  }
}
