.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  font-family: "Noto Sans Lisu", sans-serif;
  z-index: 9999;
}

@media (min-width: 648px) {
  .overlay {
    display: none;
  }
}

.modal {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20%;
}

.close-button {
  border: none;
  background-color: inherit;
  padding-top: 30px;
  margin-left: 100%;
}

.close {
  width: 50px;
  height: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
