.container {
  display: flex;
  /* position: fixed; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #f2efc7;
  background-color: #ffeee2;
}

@media (max-width: 451px) {
  .container {
    padding: 20px 0;
  }
}

.logo {
  font-size: 50px;
  font-weight: 700;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 25px;
}

@media (max-width: 450px) {
  .nav {
    display: none;
  }
}

.list-item {
  cursor: pointer;
  position: relative;
}

.list-item::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: rgb(0, 0, 0);
  transition: width 0.2s;
}

.list-item:hover::after {
  width: 100%;
}

.open-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  padding-top: 5px;
}

@media (min-width: 451px) {
  .open-button {
    display: none;
  }
}

.burger {
  height: 25px;
  width: 25px;
}
