.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(151, 150, 150, 0.3);
  font-family: "Noto Sans Lisu", sans-serif;
  z-index: 9999;
}

.modal {
  transform: translate(0%, 20%);
  width: 400px;
  height: 647px;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20%;
}

.close-button {
  border: none;
  background-color: inherit;
  padding-top: 30px;
  margin-left: 75%;
}

.close {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transform: rotate(0deg);
}

.close:hover,
.close:focus {
  transition: transform 250ms ease-in-out;
  transform: rotate(30deg);
}
