.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(151, 150, 150, 0.3);
  font-family: "Noto Sans Lisu", sans-serif;
  z-index: 9999;
}

.modal {
  transform: translate(0%, 15%);
  width: 400px;
  height: 600px;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 5%;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.close-button {
  border: none;
  background-color: inherit;
  padding-top: 30px;
  border-radius: 10px;
  margin-left: 75%;
}

.close {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transform: rotate(0deg);
}

.close:hover,
.close:focus {
  transition: transform 250ms ease-in-out;
  transform: rotate(30deg);
}

.info {
  padding-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text {
  margin-bottom: 20px;
}
